# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Oliver Hale\Documents\University\Year 3\SEPM\Projects\Sprint-1\sepm-b5-5-project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
